/* Scrollable chart legend */
.chart-legend-scrollable {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

.chart-legend-scrollable::-webkit-scrollbar {
  width: 6px;
}

.chart-legend-scrollable::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 3px;
}

canvas#combinedChart {
  height: 380px !important;
}
